#bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#mainContent {
  display: grid;

  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, 200px));

  width: 100%;
  height: 100%;
}

#contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  grid-column: 2 / 4;
  grid-row: 2;
}

#contentContainer > * {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10%);
  width: 100%;
  height: 100%;
  background-color: gray;
}

#contentContainer > * > * {
  background-color: green;

  text-align: center;
}

#contentContainer > * > button:hover {
  background-color: orange;
}

#playerNames {
  display: flex;
  justify-content: space-evenly;
  align-items: end;

  grid-column: 2 / 4;
  grid-row: 1;
}
