#contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  gap: 10px;
}

#contentContainer > * {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10%);
  width: 25%;
  height: 50%;
  background-color: gray;
}

#contentContainer > * > * {
  border: 1px solid black;
  background-color: green;

  text-align: center;
}

#contentContainer > * > *:hover {
  background-color: orange;
}
